/* @import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}
:root {
  --black-gradient: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #7f4eab -78.47%,
    #482379 91.61%
  );
  --card-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

.DmSansSerif {
  font-family: "DM Serif Display", serif;
}
.WorkSans {
  font-family: "Work Sans", sans-serif;
}
.roboto {
  font-family: "Roboto", sans-serif;
}
.blue__gradient {
  background: linear-gradient(180deg, rgba(188, 165, 255, 0) 0%, #06aeee 100%);
  filter: blur(75px);
}
.bg-purple-gradient {
  background: linear-gradient(to left, #5c0a80, #6a0c93);
  opacity: 0.95;
  transition: background 0.5s ease-in-out;
}
.bg-navbar {
  background: linear-gradient(to left, #5c0a80, #6a0c93);
  transition: background 0.8s ease-in-out;
}
.bg-indigo-gradient {
  background: linear-gradient(135deg, #5f00ba 0%, #00a1fe 100%);
}
.bg-black-gradient {
  background: #a020f0;
  box-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}
.bg-navbar-1 {
  background: #a020f0;
  transition: background 0.5s ease-in-out;
}
.color-1 {
  background: linear-gradient(to left, #5c0a80, #6a0c93);
}
.color-2 {
  background: #2d2d78;
}
.bg-navbar-2 {
  transition: background 0.5s ease-in-out;
  background: linear-gradient(135deg, #5f00ba 0%, #00a1fe 150%);
}
.bg-apply {
  background: linear-gradient(to right, #5c0a80, #6a0c93, #009688);
}
.nav {
  position: fixed;
  top: 0;
  right: 0;
  height: 80vh;
  padding: 15px 0;
  transition: 0.5s;
  z-index: 10;
  border-radius: 0 0 0 50%;
  background: #4b0082;
  transition: background 0.8s ease-in-out;
}
.nav:hover {
  background: #04152d;
}
.deed:hover {
  background: var(--black-gradient);
  box-shadow: var(--card-shadow);
}
.portfolio-card {
  position: relative;
  background: #5c0a80;
  box-shadow: 0 16px 14px 0 #04152d;
  transition: background 0.5s ease, transform 0.5s ease;
}
.portfolio-card:hover {
  background: #2c3fa8;
  transform: scale(1.03);
}
.demo {
  background: #2d2d78;
  transition: background 0.3s ease-in-out;
}
.demo:hover {
  background: #5c0a80;
}

.blur {
  filter: blur(2px);
}
.fade-anim img {
  animation: fadeAnim 0.5s ease-out;
  visibility: hidden;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.3s ease;
}
@keyframes fadeAnim {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  50% {
    opacity: 0.8;
    visibility: visible;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}
.review-container .review-card:last-child {
  margin-right: 0px;
}

.review-card {
  background: transparent;
}

.review-card:hover {
  background: var(--black-gradient);
}

.input {
  outline: none;
  border-radius: 5px;
  border: 1px solid rgb(220, 220, 220);
  padding: 0 7px;
}
.input:focus {
  border: 2px solid rgba(0, 206, 158, 1);
}
.textarea {
  padding: 3px 7px;
  outline: none;
  border-radius: 5px;
  border: 1px solid rgb(220, 220, 220);
}
.textarea:focus {
  border: 2px solid rgba(0, 206, 158, 1);
}
label {
  margin-top: 1rem;
}

.input[type="submit"] {
  margin-top: 2rem;
  cursor: pointer;
  color: white;
  padding: 15px 32px;
  border: none;
}
.ul {
  list-style: disc;
  list-style-position: inside;
}
.link {
  position: relative;
  /* padding: 30px 20px; */
  text-decoration: none;
  text-transform: uppercase;
  /* height: 70px; */
  overflow: hidden;
  margin-top: 40px;
  margin-left: 30px;
  transition: background 0.5s ease;
}

.link .span {
  position: relative;
  z-index: 1;
  color: #fff;
  letter-spacing: 2px;
  justify-content: center;
  align-items: center;
}
.link .liquid {
  position: absolute;
  left: -8%;
  top: -85px;
  width: 250px;
  height: 200px;
  background: #a020f0;
  box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
  transition: 0.5s;
}
.link:hover .liquid {
  top: -120px;
  background: linear-gradient(135deg, #5f00ba 0%, #00a1fe 150%);
}
.link .liquid:before,
.link .liquid:after {
  content: "";
  position: absolute;
  width: 160%;
  height: 200%;
  top: 0;
  left: 30%;
  transform: translate(-90%, -55%);
  background: linear-gradient(to left, #5c0a80, #03a1fe);
}
.link .liquid:before {
  border-radius: 45%;
  background: linear-gradient(to left, #5c0a80, #03a1fe);
  animation: animate 8s linear infinite;
}
.link .liquid:after {
  border-radius: 40%;
  background: linear-gradient(to left, #5c0a80, #03a1fe);
  animation: animate 8s linear infinite;
}

@keyframes animate {
  0% {
    transform: translate(-35%, -75%) rotate(0deg);
  }
  100% {
    transform: translate(-38%, -75%) rotate(360deg);
  }
}
.link-cta {
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: background 0.5s ease;
}
.link-cta .span {
  position: relative;
  z-index: 1;
  color: #fff;
  letter-spacing: 2px;
  justify-content: center;
  align-items: center;
}
.link-cta .liquid {
  position: absolute;
  left: -5%;
  top: -85px;
  width: 250px;
  height: 200px;
  background: linear-gradient(135deg, #5f00ba 0%, #00a1fe 150%);
  box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
  transition: 0.5s;
}
.link-cta:hover .liquid {
  top: -120px;
  background: linear-gradient(15deg, #a020f0 0%, #a020f0 150%);
}
.link-cta .liquid:before,
.link-cta .liquid:after {
  content: "";
  position: absolute;
  width: 155%;
  height: 180%;
  top: 0;
  left: 22%;
  transform: translate(-90%, -75%);
  background: linear-gradient(135deg, #5f00ba 0%, #00a1fe 150%);
}
.link-cta .liquid:before {
  border-radius: 45%;
}
.link-cta .liquid:after {
  border-radius: 45%;
  background: rgba(255, 255, 255, 0.5);
  animation: animate1 8s linear infinite;
}

@keyframes animate1 {
  0% {
    transform: translate(-40%, -75%) rotate(0deg);
  }
  100% {
    transform: translate(-30%, -75%) rotate(350deg);
  }
}

.btn {
  transform: scale(1, 1);
  transition: transform 0.5s ease, background 0.5s ease-in-out;
}
.btn:hover {
  transform: scale(1.1, 1.1);
  background: #2d2d78;
}
.btn1 {
  transform: scale(1, 1);
  transition: transform 0.5s ease, background 0.5s ease-in-out;
}
.btn1:hover {
  transform: scale(1.1, 1.1);
  background: linear-gradient(to left, #5c0a80, #6a0c93);
  opacity: 0.95;
}

.btn3 {
  transform: scale(1, 1);
  transition: transform 0.5s ease, background 0.5s ease-in-out;
}
.btn3:hover {
  transform: scale(1.1, 1.1);
}
.btn4 {
  transition: transform 0.5s ease, background 0.5s ease-in-out;
}
.btn4:hover {
  background: #3498db;
  transform: scale(1.1, 1.1);
}
.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 10000;
}
.modal-container {
  width: 100%;
  position: fixed;
  transform: translate(-50%, -50%);
  background-color: #64235f;
  box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.75);
  z-index: 10000;
  scale: 0 0;
  transform-origin: left;
  animation: grow 0.8s ease forwards;
}
@keyframes grow {
  /* 50% {
    scale: 0.5 0.5;
  } */
  100% {
    scale: 1 1;
  }
}
.scroll-watcher {
  height: 6px;
  position: fixed;
  z-index: 100;
  background-color: #00a1fe;
  width: 100%;
  scale: 0 1;
  animation: scroll-watcher linear;
  transform-origin: left;
  animation-timeline: scroll();
}
@keyframes scroll-watcher {
  to {
    scale: 1 1;
  }
}
.content {
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 0.5s ease, transform 0.6s ease;
}
.content1 {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.8s ease, transform 1s ease;
}

.show .content {
  opacity: 1;
  transform: translateY(0);
}
.show .content1 {
  opacity: 1;
  transform: translateY(0);
}
